.empty-presentation {
  margin-top: var(--space-xxl);
}

.presentation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-l);
  padding-bottom: var(--space-l);
}
