.floating-panel {
    height: 100%;
    width: fit-content;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
    background: var(--ant-color-bg-container);
    box-shadow: var(--ant-box-shadow);
    border-radius: var(--ant-border-radius);
    border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.floating-panel.open {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}
